/sources/server/tourism-drp/.idea
*.iml
.idea
/sources/server/fdeer-impress/*.iml
qd-auth-cache
/sources/server/fdeer-impress/mobile-cache
/sources/server/fdeer-impress/admin-cache
/sources/server/fdeer-impress/fdeer-impress-admin/target
/sources/server/fdeer-impress/fdeer-impress-admin/fdeer-impress-admin.iml
/sources/server/fdeer-impress/fdeer-impress-core-api/target
/sources/server/fdeer-impress/fdeer-impress-core-service/target
/sources/server/fdeer-impress/fdeer-impress-image-tools/target
/sources/server/fdeer-impress/fdeer-impress-core-restful/target
/sources/server/fdeer-impress/fdeer-impress-mobile/target
/sources/server/fdeer-impress/fdeer-impress-image-tools/src/main/resources/win32-x86-64/libopencv_calib3d341.dll
/sources/server/fdeer-impress/fdeer-impress-image-tools/src/main/resources/win32-x86-64/libopencv_core341.dll
/sources/server/fdeer-impress/fdeer-impress-image-tools/src/main/resources/win32-x86-64/libopencv_dnn341.dll
/sources/server/fdeer-impress/fdeer-impress-image-tools/src/main/resources/win32-x86-64/libopencv_features2d341.dll
/sources/server/fdeer-impress/fdeer-impress-image-tools/src/main/resources/win32-x86-64/libopencv_flann341.dll
/sources/server/fdeer-impress/fdeer-impress-image-tools/src/main/resources/win32-x86-64/libopencv_highgui341.dll
/sources/server/fdeer-impress/fdeer-impress-image-tools/src/main/resources/win32-x86-64/libopencv_imgcodecs341.dll
/sources/server/fdeer-impress/fdeer-impress-image-tools/src/main/resources/win32-x86-64/libopencv_imgproc341.dll
/sources/server/fdeer-impress/fdeer-impress-image-tools/src/main/resources/win32-x86-64/libopencv_ml341.dll
/sources/server/fdeer-impress/fdeer-impress-image-tools/src/main/resources/win32-x86-64/libopencv_objdetect341.dll
/sources/server/fdeer-impress/fdeer-impress-image-tools/src/main/resources/win32-x86-64/libopencv_photo341.dll
/sources/server/fdeer-impress/fdeer-impress-image-tools/src/main/resources/win32-x86-64/libopencv_shape341.dll
/sources/server/fdeer-impress/fdeer-impress-image-tools/src/main/resources/win32-x86-64/libopencv_stitching341.dll
/sources/server/fdeer-impress/fdeer-impress-image-tools/src/main/resources/win32-x86-64/libopencv_superres341.dll
/sources/server/fdeer-impress/fdeer-impress-image-tools/src/main/resources/win32-x86-64/libopencv_video341.dll
/sources/server/fdeer-impress/fdeer-impress-image-tools/src/main/resources/win32-x86-64/libopencv_videoio341.dll
/sources/server/fdeer-impress/fdeer-impress-image-tools/src/main/resources/win32-x86-64/libopencv_videostab341.dll
/sources/server/fdeer-impress/fdeer-impress-image-tools/src/main/resources/win32-x86-64/opencv_ffmpeg341_64.dll
/sources/server/fdeer-impress/fdeer-impress-produce/target
/sources/server/fdeer-impress/temp
